@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div {
    font-family: 'Montserrat', sans-serif;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#navBar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#libName,
#gonzagaLogo {
    min-width: 150px;
    font-size: 23px;
    margin: 15px;
    font-weight: bolder;
}

#libName{
    user-select: none;
    cursor: pointer;
}

#gonzagaLogo {
    background-image: url("./images/gonzaga.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
}

#menu {
    width: 100%;
    text-align: center;
}

.menuItem {
    display: inline-block;
    margin: 10px;
    transition-duration: 200ms;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.menuItem::before {
    content: " ";
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #000000;
    width: 0%;
    transition-duration: 200ms;
    left: 50%;
    transform: translateX(-50%);
}

.menuItem:hover::before {
    opacity: 1;
    width: 100%;
}

#mainBody {
    margin-top: 140px;
    width: 100%;
    text-align: center;
}

#searchCon {
    width: 600px;
    max-width: calc(100% - 50px);
    padding: 60px 20px;
    background-color: rgb(236, 236, 236);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;

}

#searchBox {
    width: 70%;
    height: 30px;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid black;
}

#searchButton {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    background: black;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' fill='%23ffffff' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z'/%3E%3C/svg%3E");
}

#searchTabs {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    transform: translateY(-100%);
}

.tab {
    display: inline-block;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: black;
    color: white;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.tab.active {
    color: black;
    background-color: #f2f2f2;
    border: 1px solid black;
    /* text-decoration: underline; */
}

#howTo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.how {
    height: 200px;
    width: 200px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.how.UASC {
    width: 300px;
    height: 250px;
    display: inline-block !important;
    vertical-align: middle;
    text-decoration: none;
}

.how.UASC-arch {
    width: 500px;
    height: auto;
    display: inline-block !important;
    vertical-align: top;
}

.UASC-arch li {
    margin: 10px;
}

.UASC-arch a {
    font-weight: bold;
}

.howTitle {
    font-size: 17px;
    color: black;
    text-align: left;
    width: 100%;
}

.howTitle.UASC {
    font-weight: bold;
    text-decoration: underline !important;
}

.howTitleSecondary {
    font-size: 15px;
    color: black;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    width: 100%;
}

.howDesc {
    text-align: left;
    font-size: 13px;
    margin-top: 10px;
    width: 100%;
}

.spotlight {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.menuExpanded {
    position: absolute;
    width: 250px;
    display: none;
    padding: 20px 0;
    left: 0;
    text-align: left;
    top: calc(100% + 20px);
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menuItem.open>.menuExpanded {
    display: block;
}

.menuExpanded::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    text-decoration: underline;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.menuExpandedItem {
    padding: 6px 12px 6px 25px;
    text-decoration: underline;
    color: #380368;
}

.hasBackground {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.closeMenuExpanded {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #ffdbdb;
    border-radius: 30px;
    background-size: 70% !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
}

.hr {
    width: 100px;
    height: 0px;
    background-color: black;
    display: inline-block;
    margin: 20px 0;
    vertical-align: middle;
}

.heading {
    font-size: 30px;
}

.heading.left {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    font-weight: bold;
}

.quickLinkCon {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
}

.quickLinkText {
    position: relative;
}


.quickLink {
    color: white !important;
    text-decoration: underline;
    height: 105px;
    display: inline-flex;
    align-items: center;
    padding: 30px 10px;
    font-size: 14px;
    justify-content: center;
    box-sizing: border-box;
    background: #1054bf;
    color: white;
    border-radius: 10px;
    width: calc(32% - 30px);
    margin: 15px;
    font-weight: bold;
    box-shadow: 5px 5px 0px 2px #e2cece;
    transition-duration: 200ms;
    vertical-align: middle;
    /* text-decoration: underline; */
    /* text-underline-offset: 2px; */
    /* line-height: 10px; */
    cursor: pointer;
}

.quickLink:hover {
    box-shadow: 0px 0px 0px 6px #4880d9aa;
}

#connectCon {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.connectCard {
    width: 240px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #4880d9;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 10px;
    color: white;
    text-align: left;
    margin: 10px;
    vertical-align: middle;
}

.connectIcon {
    min-height: 15px;
    min-width: 15px;
    background-color: white;
    padding: 10px;
    background-size: 60% !important;
    border-radius: 20px;
    margin-right: 10px;
}

.connectIcon.allMargin {
    margin: 5px;
}

.connectIcon.address {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z'/%3E%3C/svg%3E");
}

.connectIcon.phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z'/%3E%3C/svg%3E");
}

#databaseInfo {
    text-align: center;
}

.sr-only {
    display: none;
}

button.btn.btn-sm.btn-link {
    display: none;
}

button.s-lg-label-more {
    display: none !important;
}

.s-lg-az-result-keywords {
    display: none;
}

#s-lg-az-results-title {
    display: none;
}

.s-lg-db-panel-title {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
}


.s-lg-az-result a {
    color: white !important;
}

.s-lg-az-result {
    width: 300px;
    vertical-align: top;
    margin: 20px;
    text-align: left;
    background: #00193f;
    color: white !important;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    max-height: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.s-lg-az-result-title {
    margin-bottom: 20px;
}

.s-lg-az-result-description {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height: none;
    display: -webkit-inline-box;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #9d9d9d;
}

.s-lg-az-result.open .s-lg-az-result-description {
    -webkit-line-clamp: unset;
}

.s-lg-az-result.open {
    max-height: none;
}

.s-lg-db-panel::-webkit-scrollbar {
    width: 20px;
}

.s-lg-db-panel::-webkit-scrollbar-track {
    border-radius: 10px;
}

.s-lg-db-panel::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.scrollToView {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#quickLinks {
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 10px 20px;
    position: sticky;
    top: 70px;
    background: white;
    transition-duration: 200ms;
    border-bottom: 1px solid black;
    /* box-shadow: 0 44px 20px -50px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

#quickLinks.stickied {
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

.researchCard {
    width: 300px;
    vertical-align: top;
    margin: 20px;
    text-align: left;
    background: #00193f;
    color: white !important;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    max-height: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

#UASCInfo {
    background: #00193f;
    padding: 30px;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    border-radius: 20px;
}

#UASCInfo a {
    color: white !important;
}

.instagram {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='100%25' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' version='1.1' viewBox='0 0 600 600' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg transform='matrix(1.01619,0,0,1.01619,44,43.8384)'%3E%3Cpath d='M251.921,0.159C183.503,0.159 174.924,0.449 148.054,1.675C121.24,2.899 102.927,7.157 86.902,13.385C70.336,19.823 56.287,28.437 42.282,42.442C28.277,56.447 19.663,70.496 13.225,87.062C6.997,103.086 2.739,121.399 1.515,148.213C0.289,175.083 0,183.662 0,252.08C0,320.497 0.289,329.076 1.515,355.946C2.739,382.76 6.997,401.073 13.225,417.097C19.663,433.663 28.277,447.712 42.282,461.718C56.287,475.723 70.336,484.337 86.902,490.775C102.927,497.002 121.24,501.261 148.054,502.484C174.924,503.71 183.503,504 251.921,504C320.338,504 328.917,503.71 355.787,502.484C382.601,501.261 400.914,497.002 416.938,490.775C433.504,484.337 447.553,475.723 461.559,461.718C475.564,447.712 484.178,433.663 490.616,417.097C496.843,401.073 501.102,382.76 502.325,355.946C503.551,329.076 503.841,320.497 503.841,252.08C503.841,183.662 503.551,175.083 502.325,148.213C501.102,121.399 496.843,103.086 490.616,87.062C484.178,70.496 475.564,56.447 461.559,42.442C447.553,28.437 433.504,19.823 416.938,13.385C400.914,7.157 382.601,2.899 355.787,1.675C328.917,0.449 320.338,0.159 251.921,0.159ZM251.921,45.551C319.186,45.551 327.154,45.807 353.718,47.019C378.28,48.14 391.619,52.244 400.496,55.693C412.255,60.263 420.647,65.723 429.462,74.538C438.278,83.353 443.737,91.746 448.307,103.504C451.757,112.381 455.861,125.72 456.981,150.282C458.193,176.846 458.45,184.814 458.45,252.08C458.45,319.345 458.193,327.313 456.981,353.877C455.861,378.439 451.757,391.778 448.307,400.655C443.737,412.414 438.278,420.806 429.462,429.621C420.647,438.437 412.255,443.896 400.496,448.466C391.619,451.916 378.28,456.02 353.718,457.14C327.158,458.352 319.191,458.609 251.921,458.609C184.65,458.609 176.684,458.352 150.123,457.14C125.561,456.02 112.222,451.916 103.345,448.466C91.586,443.896 83.194,438.437 74.378,429.621C65.563,420.806 60.103,412.414 55.534,400.655C52.084,391.778 47.98,378.439 46.859,353.877C45.647,327.313 45.391,319.345 45.391,252.08C45.391,184.814 45.647,176.846 46.859,150.282C47.98,125.72 52.084,112.381 55.534,103.504C60.103,91.746 65.563,83.353 74.378,74.538C83.194,65.723 91.586,60.263 103.345,55.693C112.222,52.244 125.561,48.14 150.123,47.019C176.687,45.807 184.655,45.551 251.921,45.551Z' style='fill-rule:nonzero;'/%3E%3Cpath d='M251.921,336.053C205.543,336.053 167.947,298.457 167.947,252.08C167.947,205.702 205.543,168.106 251.921,168.106C298.298,168.106 335.894,205.702 335.894,252.08C335.894,298.457 298.298,336.053 251.921,336.053ZM251.921,122.715C180.474,122.715 122.556,180.633 122.556,252.08C122.556,323.526 180.474,381.444 251.921,381.444C323.367,381.444 381.285,323.526 381.285,252.08C381.285,180.633 323.367,122.715 251.921,122.715Z' style='fill:rgb(3,4,4);fill-rule:nonzero;'/%3E%3Cpath d='M416.627,117.604C416.627,134.3 403.092,147.834 386.396,147.834C369.701,147.834 356.166,134.3 356.166,117.604C356.166,100.908 369.701,87.374 386.396,87.374C403.092,87.374 416.627,100.908 416.627,117.604Z' style='fill:rgb(3,4,4);fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
}

.facebook {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='100%25' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' version='1.1' viewBox='0 0 512 512' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M374.244,285.825l14.105,-91.961l-88.233,0l0,-59.677c0,-25.159 12.325,-49.682 51.845,-49.682l40.116,0l0,-78.291c0,0 -36.407,-6.214 -71.213,-6.214c-72.67,0 -120.165,44.042 -120.165,123.775l0,70.089l-80.777,0l0,91.961l80.777,0l0,222.31c16.197,2.541 32.798,3.865 49.709,3.865c16.911,0 33.511,-1.324 49.708,-3.865l0,-222.31l74.128,0Z' style='fill-rule:nonzero;'/%3E%3C/svg%3E");
}

.youtube {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='100%25' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' version='1.1' viewBox='0 0 512 512' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M501.303,132.765c-5.887,-22.03 -23.235,-39.377 -45.265,-45.265c-39.932,-10.7 -200.038,-10.7 -200.038,-10.7c0,0 -160.107,0 -200.039,10.7c-22.026,5.888 -39.377,23.235 -45.264,45.265c-10.697,39.928 -10.697,123.238 -10.697,123.238c0,0 0,83.308 10.697,123.232c5.887,22.03 23.238,39.382 45.264,45.269c39.932,10.696 200.039,10.696 200.039,10.696c0,0 160.106,0 200.038,-10.696c22.03,-5.887 39.378,-23.239 45.265,-45.269c10.696,-39.924 10.696,-123.232 10.696,-123.232c0,0 0,-83.31 -10.696,-123.238Zm-296.506,200.039l0,-153.603l133.019,76.802l-133.019,76.801Z' style='fill-rule:nonzero;'/%3E%3C/svg%3E");
}

.twitter {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='100%25' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' version='1.1' viewBox='0 0 512 512' width='100%25' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M161.014,464.013c193.208,0 298.885,-160.071 298.885,-298.885c0,-4.546 0,-9.072 -0.307,-13.578c20.558,-14.871 38.305,-33.282 52.408,-54.374c-19.171,8.495 -39.51,14.065 -60.334,16.527c21.924,-13.124 38.343,-33.782 46.182,-58.102c-20.619,12.235 -43.18,20.859 -66.703,25.498c-19.862,-21.121 -47.602,-33.112 -76.593,-33.112c-57.682,0 -105.145,47.464 -105.145,105.144c0,8.002 0.914,15.979 2.722,23.773c-84.418,-4.231 -163.18,-44.161 -216.494,-109.752c-27.724,47.726 -13.379,109.576 32.522,140.226c-16.715,-0.495 -33.071,-5.005 -47.677,-13.148l0,1.331c0.014,49.814 35.447,93.111 84.275,102.974c-15.464,4.217 -31.693,4.833 -47.431,1.802c13.727,42.685 53.311,72.108 98.14,72.95c-37.19,29.227 -83.157,45.103 -130.458,45.056c-8.358,-0.016 -16.708,-0.522 -25.006,-1.516c48.034,30.825 103.94,47.18 161.014,47.104' style='fill-rule:nonzero;'/%3E%3C/svg%3E");
}

.copy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z'/%3E%3C/svg%3E");
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
    cursor: pointer;
}

#chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    padding-right: 15px;
    background: black;
    text-decoration: underline;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}

.message {
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z'/%3E%3C/svg%3E");
}

#loginButton{
    margin: 20px;
    border: 2px solid black;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none !important;
    color: black !important
}